.footer__column-link {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-weight: normal;
    font-size: 18px;
    transition: opacity 1.7s ease;
  }
  
  .footer__column-link:hover {
    opacity: 0.7;
   }